body {
  background: #e4e1e1;
  font-weight: 600;
}
header .navbar {
  padding: 0.5rem 0;
}
header nav.navbar .navbar-brand {
  color: #fff;
}
section.todo-outer {
  width: 100%;
  float: left;
  padding: 30px 0;
}

.todo-inner {
  max-width: 100%;
  padding: 40px;
  box-shadow: 0px 0px 10px #c1c1c1;
  background: #fff;
}
table tr td button {
  background: no-repeat;
  border: none;
  padding: 0;
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
}

.hiding {
  display: none;
}
button {
  cursor: pointer;
  font-weight: 600;
}
.btn {
  font-weight: 600;
}
